.card{
    width: 200px;
    height: auto;
    padding:1rem;
    margin: 1rem 0;
    border: 1px solid rgba(91, 91, 91,0.5);
    border-radius: 1rem;
    .img{
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
    img{
        height: 200px;
        width: 100%;
    }}
}
.app {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .txt{
        width: 100%;
        border-bottom: 1px solid rgba(91, 91, 91,0.5);
    }
    .img{
    display: flex;
    gap: 1rem;
}
}